*::selection {
  color: white;
  background-color: gray;
}

html {
  font-size: 62.5%;
}

.text {
  font-size: 10rem;
  padding: 5px 7px;
  background-image: linear-gradient(to right, #ffa440, #00aefc);
  color: transparent;
  background-clip: text;
}
