/* Khởi tạo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Phần khung */
.bai-tap-nhom {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* Phàn header */
header {
  width: 100%;
  height: 15%;
  padding-bottom: 10px;
  color: white;
  background-color: #08457c;
}

header > hr {
  height: 4px;
  background-color: white;
}

header > .tren {
  width: 100%;
  height: 50%;
}

.tren > .ma-truong {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  float: left;
  padding-bottom: 2px;
}

.tren > .tuong-tac {
  width: 75%;
  height: 100%;
  float: left;
}

.tuong-tac > .icon {
  width: 65%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: end;
}

.tuong-tac > .dang-xuat {
  width: 35%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
  padding-right: 20px;
}

.dang-xuat > a {
  color: yellow;
  text-decoration: none;
}

header > a {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);
  width: 100px;
  height: 100px;
}

header > a > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.duoi > .thong-tin {
  width: 70%;
  height: 100%;
  padding-left: 8.2%;
  float: left;
}

.duoi > .nguoi-truy-cap {
  width: 30%;
  height: 100%;
  float: left;
  margin-top: 10px;
  margin-left: -10px;
  font-size: 25px;
}

.thong-tin > h2 {
  margin-top: 10px;
  font-weight: 300;
}

.thong-tin > h1 {
  font-size: 20px;
  margin-top: 4px;
}

.thong-tin > h2 {
  font-size: 15px;
}

/* Phần nội dung chính trang web */
main {
  border-bottom: solid 1px;
  width: 100%;
  height: 85%;
  background-color: #e8ebee;
}