* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bai-tap-nhom {
  width: 100%;
  height: 100vh;
  background-color: #E8F4FF;
}

.hinh {
  width: 50%;
  height: 100%;
  float: left;
}

.dang-nhap {
  width: 50%;
  height: 100%;
  float: left;
}

.khung {
  width: 50%;
  height: 50%;
  margin: 20% 10%;
}

.form {
  width: 100%;
  height: 80%;
  border: solid 1px #ccc;
  border-radius: 10px;
  box-shadow: 0px 5px 1px #ccc;
}

footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  padding-top: 5px;
}

header {
  width: 100%;
  height: 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09548F;
}

header > div {
  background-color: white;
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: #6BA5D9;
  border-radius: 5px;
}

nav {
  width: 100%;
  height: 8%;
  background-color: #EDEDED;
}

main {
  width: 100%;
  height: 72%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 30px;
}

input {
  width: 100%;
  height: 30%;
  border-radius: 8px;
}

main > a {
  width: 100%;
  height: 30%;
}

input {
  background-color: #E8F0FE;
  border: 1px #ccc solid;
  box-shadow: 0px 5px 1px #ccc;
}

button {
  background-color: #5575B2;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

input {
  padding: 20px;
  font-family: 'Inter';
  font-weight: bold;
  opacity: 0.5;
}

.hinh {
  padding: 20px;
}

.hinh > .anh {
  width: 53%;
  height: 53%;
  margin-top: 120px;
  margin-left: 250px;
  animation: doi-anh 3s ease infinite alternate;
  background-repeat: no-repeat;
}

@keyframes doi-anh {
  0% {
    background-image: url("../photo/tím1.png");
  }
  50% {
    background-image: url("../photo/tím2.png");
  }
  100% {
    background-image: url("../photo/tím3.png");
  }
}

.anh-them {
  width: 120px;
  height: 130px;
  position: absolute;
  top: 35%;
  left: 26%;
  animation: doi-anh-them 2s ease infinite alternate;
  background-repeat: no-repeat;
}

@keyframes doi-anh-them {
  0% {
    background-image: url("../photo/vàng1.png");
  }
  30% {
    background-image: url("../photo/vàng2.png");
  }
  60% {
    background-image: url("../photo/vàng2.png");
  }
  100% {
    background-image: url("../photo/vàng4.png");
  }
}

.hinh > p {
  margin-left: 250px;
  color: #5575B2;
  font-size: 25px;
  font-weight: bold;
}

button:hover {
  background-color: #B27C55;
  cursor: pointer;
}

footer > a {
  width: 40%;
  height: 50%;
}

footer > a > button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
}