/* Khởi tạo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Phần khung */
.bai-tap-nhom {
  width: 100%;
  height: 205vh;
  margin: 0 auto;
}

/* Phàn header */
header {
  width: 100%;
  height: 15vh;
  padding-bottom: 10px;
  color: white;
  background-color: #08457c;
}

header > hr {
  height: 4px;
  background-color: white;
}

header > .tren {
  width: 100%;
  height: 50%;
}

.tren > .ma-truong {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  float: left;
  padding-bottom: 2px;
}

.tren > .tuong-tac {
  width: 75%;
  height: 100%;
  float: left;
}

.tuong-tac > .icon {
  width: 65%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: end;
}

.tuong-tac > .dang-xuat {
  width: 35%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
  padding-right: 20px;
}

.dang-xuat > a {
  color: yellow;
  text-decoration: none;
}

header > a {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);
  width: 100px;
  height: 100px;
}

header > a > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.duoi > .thong-tin {
  width: 70%;
  height: 100%;
  padding-left: 8.2%;
  float: left;
}

.duoi > .nguoi-truy-cap {
  width: 30%;
  height: 100%;
  float: left;
  margin-top: 10px;
  margin-left: -10px;
  font-size: 25px;
}

.thong-tin > h2 {
  margin-top: 10px;
  font-weight: 300;
}

.thong-tin > h1 {
  font-size: 20px;
  margin-top: 4px;
}

.thong-tin > h2 {
  font-size: 15px;
}

/* Phần nav */
nav {
  width: 100%;
  height: 6vh;
  background-color: #5AB7E4;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

nav > a {
  text-decoration: none;
  width: 13%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 250, 250, 0.61);
  border-radius: 10px;
  color: #033A6C;
}

nav > a:hover {
  background-color: yellow;
}

nav > a > img {
  width: 25px;
  height: 25px;
}

/* Phần nội dung chính trang web */
main {
  width: 100%;
  height: 180vh;
}

.thong-tin-sinh-vien {
  width: 100%;
  height: 60vh;
  background-color: #E8E8E8;
}

.thong-tin {
  width: 100%;
  height: 80%;
  position: relative;
}

.khung-xanh {
  width: 50%;
  height: 90%;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f70b2;
}

.khung-trang {
  width: 90%;
  height: 80%;
  margin: 4.32vh auto;
  background-color: #fff;
  border-radius: 10px;
}

.trai, .phai {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.trai {
  padding-left: 20px;
}

.chon-ky {
  width: 100%;
  height: 20%;
}

.chon-ky > a {
  display: block;
  height: 3vh;
  text-decoration: none;
  text-align: center;
}

.khung-tim {
  width: 100%;
  height: 9vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.khung-tim > button {
  height: 4vh;
  width: 20vh;
  border-radius: 10px;
  background-color: #0C4396;
  border: none;
  color: white;
  cursor: pointer;
}

.khung-tim > button:hover {
  background-color: green;
}

.hoc-ky, .nam-hoc {
  width: 30vh;
  height: 4vh;
  border: solid 1px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

input {
  height: 100%;
  width: 90%;
  border: none;
  border-radius: 10px;
  background: transparent;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.hoc-ky > img, .nam-hoc > img {
  width: 5vh;
  height: 100%;
}

/* Phần điểm hiện tại */
.diem-ky-hien-tai {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  width: 98%;
  height: 50%;
  margin: 0 auto;
}

legend {
  width: 200px;
  height: 20px;
  background-color: #054075;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 97%;
  height: 50%;
  margin: 10px auto;
  text-align: center;
}

thead {
  background-color: #325A9F;
  color: white;
  height: 5vh;
}

tbody > tr {
  height: 4vh;
}

tbody > tr > td:nth-child(3) {
  text-align: left;
  padding-left: 20px;
}

tbody > tr:nth-child(odd) {
  background-color: #D9D9D9;
}

tbody > tr:hover {
  background-color: #9F9F9F;
}

.tong-ket {
  padding: 30px 0 0 25px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.tong-ket > div {
  width: 25%;
  display: flex;
  justify-content: space-between;
}