/* Khởi tạo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Phần khung */
.bai-tap-nhom {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* Phàn header */
header {
  width: 100%;
  height: 15vh;
  padding-bottom: 10px;
  color: white;
  background-color: #08457c;
}

header > hr {
  height: 4px;
  background-color: white;
}

header > .tren {
  width: 100%;
  height: 50%;
}

.tren > .ma-truong {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  float: left;
  padding-bottom: 2px;
}

.tren > .tuong-tac {
  width: 75%;
  height: 100%;
  float: left;
}

.tuong-tac > .icon {
  width: 65%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: end;
}

.tuong-tac > .dang-xuat {
  width: 35%;
  height: 100%;
  float: left;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: end;
  padding-right: 20px;
}

.dang-xuat > a {
  color: yellow;
  text-decoration: none;
}

header > a {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translate(-1%, -1%);
  width: 100px;
  height: 100px;
}

header > a > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.duoi > .thong-tin {
  width: 70%;
  height: 100%;
  padding-left: 8.2%;
  float: left;
}

.duoi > .nguoi-truy-cap {
  width: 30%;
  height: 100%;
  float: left;
  margin-top: 10px;
  margin-left: -10px;
  font-size: 25px;
}

.thong-tin > h2 {
  margin-top: 10px;
  font-weight: 300;
}

.thong-tin > h1 {
  font-size: 20px;
  margin-top: 4px;
}

.thong-tin > h2 {
  font-size: 15px;
}

/* nav */
nav {
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

nav > a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

nav > a:hover {
  color: blue;
}

/* aside */
aside {
  width: 100%;
  height: 20vh;
  background-color: #E8EBEE;
}

aside > .hien-thi-dang-chon {
  width: 100%;
  height: 3vh;
  background-color: #033A6C;
  opacity: 0.71;
  color: white;
  text-align: center;
}

aside > .thong-tin {
  width: 100%;
  height: 17vh;
}

.thong-tin > .form {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.ten {
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thuoc-tinh {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#nam-hoc, #hoc-ky {
  width: 100%;
  border: none;
}

.them {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.them > .them-moi {
  width: 70px;
  background-color: #D9D9D9;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 1px 0px black;
  border-radius: 5px;
}

/* Phần nội dung chính trang web */
main {
  width: 100%;
  height: 62vh;
  position: relative;
}

fieldset {
  width: 98%;
  height: 90%;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.them-trai, .them-phai {
  width: 50%;
  height: 80%;
  float: left;
  padding: 40px;
  display: flex;
  gap: 20px;
}

.them-trai > .ten, .them-phai > .ten {
  text-align: right;
  width: 30%;
  height: 100%;
  float: left;
}

.them-trai > .thuoc-tinh, .them-phai > .thuoc-tinh {
  width: 70%;
  height: 100%;
  float: left;
}

.dien {
  width: 70%;
  height: 8.5%;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
}

.khu-vuc-nut {
  width: 100%;
  height: 20%;
  float: left;
  position: relative;
}

.hai-nut {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 40%;
  right: 12%;
}

.nut-luu, .nut-huy {
  display: block;
  width: 60px;
  box-shadow: 0 1px 1px 0px black;
  cursor: pointer;
  background-color: #D9D9D9;
  border-radius: 5px;
}